body{
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;	
}

.container{
	background-color: #E4DBBF;
	margin: 30px;
	padding: 50px;
	width: 300px;
	border : 5px solid grey;
}

input{
	margin: 7px;
	padding: 5px;
	font-size: 14px;
}

span{
	display: table;
	padding-left: 10px;
	margin-bottom: -7px;
	margin-top: 5px;
}

#type-switcher{
	padding-top: 10px;
	padding-left: 10px;
	border-left: 5px solid darkgrey;
}

#type-description{
	margin-top: -5px;
	padding-left: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
	font-size: 14px;
	font-style: italic;
	color: #500C0C;
}

.button{
	float: right;
	padding: 5px;
}
