body{
	word-wrap: break-word;
}

header{
	background-color: grey;
	height: 110px;
	width: 100%; 
	position: fixed;
	z-index: 2;
	top: 0;
}

#mass-delete{
	font-size: 22px;
	font-weight: bold;
	margin-left: 30px;
	color: red;
}

.container{
	padding-top: 150px;
}


.row{
	margin : 40px 0px 40px 0px;
	height: 350px;
}

.product-list{
	border: 1px solid black;
    padding-bottom: 20px;
}

ul{
	margin: 0;
	padding: 0;
}

.product-name{
	text-align: center;
	border-bottom:  2px groove red;
	font-weight: bold;
	padding: 10px 10px 25px 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 28px;
}

.product-info{
	padding: 15px 0px 0px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

#check-box{
	float: right;
	width: 17px;
	height: 17px;
}


